body{
    margin:10px;
    background-color: #f0ebd6;
    font-family: 'Montserrat', sans-serif;
}

.nest{
    display: grid;
    padding:1em;
}
.box1{
    grid-column:1/1;
    grid-row:1/3 ;
    border: #333 1px solid;
    justify-self: start;
    padding:1em;  
   }
   .box2{
    /*  align-self: start;*/
    grid-column:3 ;
    grid-row:1/3 ;
    justify-self: end;
    border: #333 1px solid;
    padding:1em;
    border-radius: 31px;
   }
   .nest > div > a {
    text-decoration: none;
    color: #333;
   }

.nested{
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;

}


/*1234567890-#@!%^&*()*/
 .wrapper{
     display: grid;
     /* grid-template-columns: 1fr 1fr 1fr;*/
     grid-template-columns: repeat( 1fr);
     grid-gap: 1em; 
     /*grid-auto-rows: 100px;*/
     grid-auto-rows: minmax(50px,auto)
     
 } 

 .wrapper > div{
    background: #D2977c;
    padding: 1em;
} 
.wrapper > div:nth-child(odd){
    background: #F1CBB5;
}
.share-button{
    width:150px ;
    background-color: #dfe6e9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    padding:0.5em;
}
.share-button:hover{
    transform: scale(1.1);
}
.share-button span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d3436 ;
    color: #f1f1f1 ;
    text-align: center;
    line-height: 30px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 15px;
 
}

.share-button:hover span{
    transform: translateX(-100%);
    transition-delay: .3s;
}

.share-button a{
    flex: 1 ;
    font-size: 10px ;
    color: #f0ebd6;
    text-align: center;
    transform: translateX(0);
    opacity: 0;
    transition: 0.3s linear;
}

.share-button:hover a{
    opacity: 1;
    transform: translateX(0);
}

.share-button a:nth-last-of-type(1){
    transition-delay: 1s;
}

.share-button a:nth-last-of-type(2){
    transition-delay: 0.8s;
}
.share-button a:nth-last-of-type(3){
    transition-delay: 0.6s;
}
.share-button a:nth-last-of-type(4){
    transition-delay: 0.4s;
}


/*.nested > div{
    border: #333 1px solid;
}*/
